.registration_form{
	width: 38vw;
		height: 36vw;
		/*background-color: rgba(181,112,70,0.40);*/
		color:#33373D;
		position: absolute;
		left:13%;
		top:69.5%;
		box-sizing: border-box;
		padding: 30px 50px;
		border-radius:1px;
		background-color: white;
		font-family: "Ubuntu";
}
.working
{
	width: 22vw;
	height: 21vw;
	background-color: white;
	box-shadow: 2px;
	font-family: "Ubuntu";

}

.registration_form img{
		width: 5.625em;
		height: 5em;
		border-radius: 50%;
		position: absolute;
		top:-50px;
		left:42%;
}
h1{
		margin: 0;
		padding: 0;
		font-weight: bold;
		text-align: center;
	}
.registration_form p{
		margin: 0;
		padding-top: 2px;
		font-weight: italic;
}
.registration_form input{
		width: 100%;
		margin-bottom: 15px;
		font-family: "Ubuntu";
		background-color: #F3F3F3;
		font-size: 1.12vw;
		border:dashed;
		border-color: black;
}
.registration_form input[type="text"],input[type="password"],input[type="number"],input[type="email"]
	{
		border:none;
		height: 25px;
		border-radius: 12px;
		border-bottom: 1px solid #fff;
		padding-left: 0.8rem;
	}
.registration_form input[type="file"]
{
	border: none;
}
.registration_form input[type="submit"]{
		border:none;
		outline: none;
		height: 40px;
		background: #cb202d;
		font-size:18px;
		font-weight: bold;
        border-radius: 18px;
	}
.registration_form input[type="file"]{
	font-family: "Ubuntu";
	font-size: 1.12vw;
}
.registration_form input[type="submit"]:hover{
     cursor:pointer;
     background:#f2000d;
     color:#000;
	}
#submit{
	padding-left: 2px;
}